<!DOCTYPE html>
<html lang="fa">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Vazirmatn&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container">
        <div class="header">
            <h1>به سایت TITLE خوش امدید</h1>
            <p>مرجع شما برای ارسال و یافتن اطلاعیه‌های خرید، فروش و هر چیز دیگر!</p>
        </div>
        <div class="text-center">
            <a href="LINK TO CHANNEL" class="btn btn-telegram btn-lg" role="button" target="_blank">
                عضویت در کانال تلگرام ما
            </a>
        </div>
        <div class="text-center mt-4">
            <p>برای ثبت اطلاعیه، لطفاً از ربات ما استفاده کنید:</p>
            <a href="LINK TO BOT" class="btn btn-telegram btn-lg" role="button" target="_blank">
                ربات
            </a>
        </div>
    </div>
</body>
</html>
